/*
0 - Geral
1 - Nav Bar
3 - Section 1
4 - Section 2
5 - Section 3
*/

/*0 - Geral*/
:root {
    --rosa-primario: #FFB6C0;
    --rosa-secundario: rgba(255,182,192,0.8);

    --branco-primario: #FFF;
    --branco-secundario: #FFFEE8;

    --cinza-primario: #333;
    --cinza-secundario: #CECECE;
}

@font-face {
    font-family: "Titan";
    src: url(../fonts/TitanOne-Regular.ttf);
}

@font-face {
    font-family: "Comfortaa";
    src: url(../fonts/Comfortaa-Regular.ttf)
}

/* 1 - Nav Bar */
header {
    width: 90%;
}

nav {
    text-align: right;
}

nav ul li {
    display: inline-block;
    margin: 15px 5px;
    font-size: 1.125em;
}

nav a {
    color: var(--branco-secundario);
    text-decoration: none;
    border-radius: 20px;
    padding: 8px 20px;
    transition: 0.3s;
}

nav a:hover{
    background-color: var(--rosa-secundario);
    transition: 0.3s;
}

nav ul li:nth-child(2)::before,
nav ul li:nth-child(3)::before,
nav ul li:nth-child(4)::before{
    display: inline-block;
    content: "";
    height: 35px;
    width: 2px;
    background-color: var(--rosa-primario);
    position: relative;
    top: .5em;
    left: -7px;
}

/* 2 - Section */
.home {
    background-image: url("../img/animal.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: var(--branco-secundario);
    text-align: center;
    font-family: "Titan";
}

.home .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home h1{
    font-size: 4em;
    letter-spacing: 4px;
}

.home .icons {
    margin: 50px 0;
}

.home .icons-content {
    width: 75px;
    height: 75px;
}

#central {
    margin: 0 20%;
}

.home .more {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.home .more p {
    font-size: 1.5em;
    font-family: 'Comfortaa';
    color: var(--branco-primario);
    margin-bottom: 5%;
}

.home .arrow {
    height: 28px;
    width: 28px;
    margin: 0 auto;
    border-left: solid 8px var(--branco-secundario);
    border-bottom: solid 8px var(--branco-secundario);
    transform: rotate(-45deg);
    border-radius: 10%;
}

/*4 - Section 2*/

.quem-somos p {
    font-family: 'Comfortaa';
    color: black;
}

.quem-somos .quem-somos__titulo {
    color: var(--rosa-primario);
    font-size: 1.5em;
    font-family: 'Titan';
    margin-top: 3%;
    text-align: center;
}

.quem-somos .quem-somos__primeiro-texto {
    position: absolute;
    width: 40%;
    text-align: center;
    top: 820px;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.box-fotos .box-fotos__cachorro {
    position: relative;
    top: 150px;
    left: 100px;
}

.box-fotos .box-fotos__gato {
    position: relative;
    top: 400px;
}

.box-fotos .box-fotos__menina {
    position: relative;
    top: 650px;
}

.quem-somos .texto-rosa p {
    width: 251px;
    height: 280px;
    text-align: center;
    color: var(--rosa-primario);
    display: block;
    border: dashed 2px var(--rosa-primario);
    position: relative;
    left: 350px;
}

.quem-somos .texto-preto h3 {
    position: relative;
    font-family: 'Comfortaa';
    width: 400px;
    font-weight: bolder;
    font-size: 1.5em;
    left: 700px;
    bottom: 150px;
}

.quem-somos .texto-preto p {
    width: 400px;
    position: relative;
    left: 700px;
    bottom: 150px;
    margin-top: 30px;
}

/* 5 - Section 4*/
.nossa-equipe {
    background-image: url(../img/gato-fundo-preto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.nossa-equipe__h1{
    color: white;
    font-family: 'Titan';
    position: relative;
    text-align: center;
    top: 16%;
    font-size: 2em;
}

.nossa-equipe__explicacao {
    color: white;
    position: relative;
    text-align: center;
    top: 22%;
    left: 320px;
    width: 700px;
    font-family: 'Comfortaa';
    font-size: 1.2em;
}

.nossa-equipe__membros {
    position: absolute;
    top: 2635px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nossa-equipe__membros li {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #FFF;
}

#funcionario-central {
    margin: 0 150px;
}

